{% extends 'custom_adminka/base.html' %}
{% load custom_filters %}


{% block content %}
    <h2>Додати Рецепт</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name">Назва:</label>
            {{ form.name|add_class:'form-control' }}
        </div>
        <div class="form-group">
            <label for="id_description">Опис:</label>
            {{ form.description|add_class:'form-control' }}
        </div>
        <div class="form-group">
            <label for="id_photo">Фото:</label>
            {{ form.photo|add_class:'form-control-file' }}
        </div>
        <button type="submit" class="btn btn-primary">Зберегти</button>
    </form>
{% endblock %}